<!-- app/Resources/views/base.html.twig -->
<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html" ; charset="utf-8" />
    <title>{% block title %}symblog{% endblock %} - test blog</title>
    <!--[if lt IE 9]>
            <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
    {% block stylesheets %}
    <link href='http://fonts.googleapis.com/css?family=Irish+Grover' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=La+Belle+Aurore' rel='stylesheet' type='text/css'>
    <link href="{{ asset('bundles/blog/css/screen.css') }}" type="text/css" rel="stylesheet" />{% endblock %}
    <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
</head>

<body>
    <section id="wrapper">
        <header id="header">
            <div class="top">
                {% block navigation %}
                <nav>
                    <ul class="navigation">
                            <li>
                                <a href="{{ path('BlogBundle_homepage') }}">Accueil</a>
                            </li>
                            <li>
                                {% if app.user is not null %}
                                   <a href="{{ path('BlogBundle_logout') }}">deconnexion</a>
                                {% else %}
                                    <a href="{{ path('BlogBundle_inscrption') }}">Inscription</a>
                                {% endif %}
                            </li>
                            <li>
                                {% if app.user is null %}
                                    <a href="{{ path('BlogBundle_login') }}">Connection</a>
                                {% endif%}
                            </li>
                            <li>
                                {% if app.user is not null %}
                                    <a href="{{ path('BlogBundle_profile') }}"> {{ app.user.username}}</a>
                                {% endif %}
                            </li>

                            
                            
                    </ul>
                </nav>
                {% endblock %}
            </div>

            <hgroup>
                </br>
                </br>
                </br>
                <h3>{% block blog_tagline %}<a href="#">Blog in Symfony2 by Alex Romain Zak Sidney</a>{% endblock %}</h3>
            </hgroup>
        </header>

        <section class="main-col">
            {% block body %}{% endblock %}
        </section>
        <aside class="sidebar">
            {% block sidebar %}{% endblock %}
        </aside>

        <div id="footer">
            {% block footer %} Symfony2 blog zak/alex/romain/sidney - created by {% endblock %}
        </div>
    </section>

    {% block javascripts %}{% endblock %}
</body>

</html>