{% extends 'base.html.twig' %}

{% block body %}
    <h1>Les articles</h1>
    {% if (app.user is not null) %}
    <h3><a href="{{ path('article_new') }}">Créer un nouvel article</a></h3>
    {% endif %}
    <table>
        <thead>
            <tr>
                <th>Titre</th>
                <th>Contenu</th>
                <th>Date de création</th>
                {% if (app.user is not null) %}
                    <th>Article publié</th>              
                    <th>Actions</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
        {% for article in articles %}
            {% if (article.isPublished == true or app.user) %}
                <tr>
                    {#<td><a href="{{ path('article_show', { 'id': article.id }) }}">{{ article.id }}</a></td>#}
                    <td>{{ article.title }}</td>
                    <td>{{ article.content }}</td>
                    <td>{% if article.createdAt %}{{ article.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                    {% if (app.user is not null) %}
                        <td>{{ article.isPublished }}</td>                
                        <td>
                            <ul>
                                <li>
                                    <a href="{{ path('article_show', { 'id': article.id }) }}">show</a>
                                </li>
                                <li>
                                    <a href="{{ path('article_edit', { 'id': article.id }) }}">edit</a>
                                </li>
                            </ul>
                        </td>
                    {% endif %}
                </tr>
            {% endif %}
        {% endfor %}
        </tbody>
    </table>

    <h3>5 derniers commentaires</h3>

    <table>
        <thead>
            <tr>
                <th>Contenu</th>
                <th>Date de création</th>
            </tr>
        </thead>
        <tbody>
        {% for comment in comments %}
            <tr>
                <td>{{ comment.content }}</td>
                <td>{% if comment.createdAt %}{{ comment.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
