{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-6 col-xs-6">
            <h1>Article</h1>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6 retournerArticle">
            <a class="btn btn-info" href="{{ path('article_index') }}">Retourner aux articles</a>
        </div>
    </div>
    
    
    <br>
    <div class="row">
            {% if (article.isPublished == true or app.user) %}
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 article">
                    <div class="row">
                        <div class="col-lg-8 col-md-8 col-sm-6 col-xs-6">
                            <h4><a href="{{ path('article_show', { 'id': article.id }) }}">{{ article.title }}</a></h4>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6 dateArticle">
                            {% if article.createdAt %}{{ article.createdAt|date('Y-m-d H:i:s') }}{% endif %}
                        </div>
                        <br><br>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 contenuArticle">
                            {{ article.content }}
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 contenuArticle">
                            {% if (app.user is not null) %}
                                
                                {{ form_start(delete_form) }}
                                    <a class="btn btn-info" href="{{ path('article_edit', { 'id': article.id }) }}">Editer l'article</a>
                                    <input class="btn btn-info" type="submit" value="Supprimer">
                                {{ form_end(delete_form) }}
                            {% endif %}
                        </div>
                        
                        <br>
                    </div>
                </div>
            {% endif %}

    </div>
    <br>

    <h2>Commentaires</h2>
    <div class="row">
        {% for comment in comments %}
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                        {% if comment.createdAt %}{{ comment.createdAt|date('Y-m-d H:i:s') }}{% endif %}
                    </div>
                    <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
                        {{ comment.content }}
                    </div>
                </div>
                <br><br>
        {% endfor %}
    </div>
        
            <tr>
                <td></td>
                <td></td>
            </tr>
            
    {% if (app.user is not null) %}
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h3>Ajouter un commentaire :</h3>

                {{ form_start(comment_form) }}
                    {{ form_widget(comment_form) }}
                    <br>
                    <input class="btn btn-info" type="submit" value="Ajouter" />
                {{ form_end(comment_form) }}
            </div>
        </div>
    {% endif %}
{% endblock %}
