{% extends 'base.html.twig' %}

{% block body %}
    <h1>Article</h1>



    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ article.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ article.title }}</td>
            </tr>
            <tr>
                <th>Content</th>
                <td>{{ article.content }}</td>
            </tr>
            <tr>
                <th>Is Published</th>
                <td>{{ article.isPublished }}</td>
            </tr>
            <tr>
                <th>Createdat</th>
                <td>{% if article.createdAt %}{{ article.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('article_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('article_edit', { 'id': article.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>

    <h1> Comments </h1>
    <table>
        <thead>
            <tr>
                <th>Content</th>
                <th>Createdat</th>
            </tr>
        </thead>
        <tbody>
        {% for comment in comments %}
            <tr>
                <td>{{ comment.content }}</td>
                <td>{% if comment.createdAt %}{{ comment.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <h1> New Comment </h1>

    <h1>New comment for this article:</h1>

    {{ form_start(comment_form) }}
        {{ form_widget(comment_form) }}
        <input type="submit" value="Create" />
    {{ form_end(comment_form) }}

    <ul>
        <li>
            <a href="{{ path('comment_index') }}">Back to the list</a>
        </li>
    </ul>

{% endblock %}
